<div class="form">
  <%= form_for(@post, :html => { :multipart => true }) do |f| %>
      <div class="field">
        <%= f.label :Name ,class: 'white'%><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <%= f.fields_for :post_attachments do |p| %>
          <div class="field">
            <%= p.label :avatar, class: 'white' %><br>
            <%= p.file_field :avatar,:multiple => true, name: "post_attachments[avatar][]",class:'white' %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit class:'btn btn-success'%>
      </div>
  <% end %>
  <%= link_to 'Show', @post %>
  <%= link_to 'Back', posts_path %>
</div>

