<div class="container contents">
  <h1 class="white text-center title">Editing Post</h1>
  <hr/>
  <div class="user-icon"><span class="fa fa-5x fa-pencil z-index white"></span></div>
  <div class="user-icon-backdrop"></div>
  <%= render 'form' %>

  <br/>
  <br/>
  <br/>
</div>


