<div class="container contents">
  <h1 class="white text-center">New Post</h1>
  <hr/>
  <div class="user-icon"></div>
  <div class="user-icon-backdrop"></div>
  <%= render 'form' %>

  <br/>
  <br/>
</div>







