<div class="page-wrap">
  <div class="container-pixed">
    <div class="container contents">
      <h3 class="text-center white title">Daily Breads</h3>
      <hr/>
      <div class="row">
        <% @post_attachments.each do |post_attachment| %>
            <div class="col-md-3">
              <%=  link_to (image_tag post_attachment.avatar, :class => "avatar img-thumbnail image item-menu"), post_attachment %>
              <%= render post_attachment.products %>
              <br/><br/>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




