<h1>Menus</h1>

<table>

  <tbody>

  <% @post_attachments.each do |post_attachment| %>

      <tr>
        <td><div class="img-responsive img-thumbnail"><%= image_tag post_attachment.avatar %></div></td>
        <td><%= post_attachment.avatar %></td>
        <td><%= link_to 'Show', post_attachment %></td>
        <td><%= link_to 'Edit', edit_post_attachment_path(post_attachment) %></td>
        <td><%= link_to 'Destroy', post_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>