<p id="notice"><%= notice %></p>

<%= image_tag @post_attachment.avatar, :class => "avatar img-thumbnail" %>
<br/><br/>

<%= render @post_attachment.products %>

    <%= render 'products/form' %>


    <%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> |
    <%= link_to 'Delete', @post_attachment, method: :delete, data: { confirm: 'Are you sure you want to delete ' + @post_attachment.avatar.to_s + '?' } %> |

    <%= link_to 'New Product', new_post_path %>
<%= link_to 'Back', post_attachments_path %>