<div class="container-pixed">
  <div class="container users">
    <h2 class="white text-center">Edit <%= resource_name.to_s.humanize %></h2>
    <hr/>
    <div class="user-icon"><span class="fa fa-5x fa-user-secret white z-index"></span></div>
    <div class="user-icon-backdrop"></div>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :Email_Address,class: 'white' %><br />
            <%= f.email_field :email, autofocus: true,class: 'form-control text-center' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :New_Password, class: 'white' %> <i class="white">(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" ,class: 'form-control text-center', placeholder: 'New Password'%>
          </div>

          <div class="field">
            <%= f.label :New_Password_Confirmation ,class: 'white'%><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control text-center', placeholder: 'New Password Confirmation' %>
          </div>

          <div class="field">
            <%= f.label :current_password ,class: 'white'%> <i class="white">(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" ,class: 'form-control text-center', placeholder: 'Current Password'%>
          </div>

          <div class="actions">
            <%= f.submit "Update" , class: 'btn btn-block btn-success'%>
          </div>
      <% end %>

      <h3 class="white">Delete My Account?</h3>

      <p class="white">Unhappy? <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: 'btn btn-block btn-danger'%></p>

      <%= link_to "Back", root_path %>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
