<div class="container users">
  <h3 class="white title text-center">Register New Account</h3>
  <hr/>
  <div class="user-icon"><span class="fa fa-5x fa-user-plus z-index white"></span></div>
  <div class="user-icon-backdrop"></div>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :Email_Address , class: 'white'%><br />
          <%= f.email_field :email, autofocus: true ,class: 'form-control text-center', placeholder: 'Email Address'%>
        </div>

        <div class="field">
          <%= f.label :password ,class: 'white'%>
          <% if @validatable %>
              <em class="white">( <%= @minimum_password_length %>  characters minimum )</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" ,class: 'form-control text-center',placeholder: 'Password'%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation ,class: 'white'%><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" ,class: 'form-control text-center', placeholder:'Password Confirmation'%>
        </div>
        <p class="white">Done?</p>
        <div class="actions">
          <%= f.submit "Submit",class: 'btn btn-success btn-block' %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <br/>
  <br/>
  <br/>
</div>



