.aContent {
    border-left: solid 1px rgba(255, 93, 86, 0.95);
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-left: 0% !important;
    background-color: #ffffff !important;
}

.article {
    text-indent: 5%;
    color: #ffffff;
    font-weight: bold;
}

.aImg {
    background-color: #ffffff;
}

.image {
    width: 100%;
}

.contentR {
    background-color: #ffffff !important;
}

/*.two {*/
    /*margin-top: 19.4%;*/
/*}*/

.slide2 {
    margin-top: 8.2%;
}

.carousel2 {
    width: 100%;
    border: 5px solid rgba(255, 93, 86, 0.95);
    border-bottom: none;
    border-right: none;
}
.rows{
    padding: 20px;
}
.article-holder{
    background: maroon;
    padding: 20px;
    border-radius: 20px;
}