.fcontact {
    background-color: #ffffff;
}

.imgMap {
    width: 100%;
}

.gMaps {
    width: 23%;
}

.arrowR {
    margin-left: 15%;
    width: 18%;
}

.scontact {
    background-color: #ffffff;
}

.num {
    color: maroon;
}

.phoneImg {
    width: 25%;
}

.phoneImg2 {
    margin-top: 2%;
    width: 25%;
}

.blur {
    color: gray;
}

.media {
    width: 10%;
    margin-top: -1%;
}

.ttw {
    color: deepskyblue;
}

.tgm {
    color: darkred;
}