@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.TTF);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue.otf);
}

@font-face {
    font-family: 'GrutchShaded';
    src: url(../fonts/GrutchShaded.ttf);
}

@font-face {
    font-family: 'lokicola';
    src: url(../fonts/lokicola.ttf);
}
@font-face {
    font-family: 'Mutlu__Ornamental';
    src: url(../fonts/Mutlu__Ornamental.ttf);
}

@font-face {
    font-family: 'RosewoodStd-Regular';
    src: url(../fonts/RosewoodStd-Regular.otf);
}

@font-face {
    font-family: 'Summer Jams Outline';
    src: url(../fonts/Summer%20Jams%20Outline.otf);
}

@font-face {
    font-family: 'KissTheSky';
    src: url(../fonts/KissTheSky.ttf);
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(../fonts/KaushanScript-Regular.otf);
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/FontAwesome.otf);
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: 'Oswald-Light';
    src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'DroidSerif-Bold';
    src: url(../fonts/DroidSerif-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'TouristTrap';
    src: url(../fonts/TouristTrap.ttf);
}

@font-face {
    font-family: 'SpitShine';
    src: url(/assets/SpitShine.ttf);
}





