// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.create {
  background-color: #ffffff;
}

.ticket {
  display: none;
}

li {
  list-style-type: none;
}

.ticket li {
  color: #000000;
}