body {
    background-image: url("/assets/index.jpeg");
}

.header {
    background-image: url("/assets/backgound/official%20backgound.jpg");
}

.navigator {
    background-color: maroon;
}

.footR {
    background-color: maroon;
}

.col-md-5 {
    margin-left: 1%;
}

.line{
    height: 13px;
    background-color: rgba(255, 93, 86, 0.95);
    margin-top: -3px;
    border-top: 3px solid maroon;
}

.second {
    float: right;
}

.links {
    color: #ffffff !important;
    font-weight: bold;
}

.first {
    margin-left: 20%;
}


.footer {
    background-color: maroon;
}

.fb {
    width: 15%;
}

.face {
    font-size: 12px;
}

.face:hover {
    color: rgba(30, 144, 255, 0.90) !important;
}

.forFB:hover {
    text-decoration: none;
}

.footR {
    border-left: solid 1px rgba(255, 93, 86, 0.95);
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.line2 {
    height: 10px;
    width: 100%;
    background-color: rgba(255, 93, 86, 0.95);
}

.hContent {
    border-left: solid 1px rgba(255, 93, 86, 0.95);
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-left: 0 !important;
    background-color: #ffffff !important;
}

.extended-height {
    margin-top: 1.7%;
}

.imgSlide {
    width: 100%;
}

.pan {
    font-family: SpitShine;
    font-size: 30px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.logoHolder{
    height: 120px;
    width: 240px !important;
    border-radius: 300px 300px 0 0;
    -moz-border-radius: 300px 300px 0 0;
    -webkit-border-radius: 300px 300px 0 0;
    background: rgba(255, 93, 86, 0.95) !important;
    border: 3px solid maroon;
    border-bottom: none;
    margin-left: 50px;
}

.logo{
    margin: 40px 0px 0px 5px;
}


.carousel {
    border-radius: 3px !important;
}



.copyright {
    width: 100%;
    border-top: solid 1px rgba(255, 93, 86, 0.95);
    color: #ffffff;
    background-color: maroon;
}

.copy {
    padding-top: 1%;
    padding-left: 10%;
}

.home {
    width: 100%;
}

.action {
    color: maroon !important;
}

.logIn-container{
    background-color: rgba(255, 93, 86, 0.95);
    border: 3px solid maroon ;
    border-radius: 20px;
    padding: 5%;
    margin-top: 10.2%;
}

.logIn{
    color: #ffffff;
    font-weight: bold;
}

.rightH {
    background-color: #ffffff;
}

.link {
    color: #ffffff !important;
}

.modal-header {
    background-color: maroon;
}

.register {
    color: white;
}

.exit {
    color: rgba(255, 93, 86, 0.95);
}

.agree {
    list-style-type: none;
    display: inline-block;
}

.agreed {
    float: right;
}
.items{
    width: 100%;
    border-radius: 20px;
}

.triangle{
    content: "";
    display: block;
    margin: -35px auto;
    width: 0;
    height: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255, 93, 86, 0.95);
}
.hr-triangle{
    display: block;
    margin: -20px auto;
    width: 0;
    height: 50px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
}
.white{
    color: #fff;
}
.title{
    font-weight: bold;
}
td{
    width: 230px;
}
.table-footer{
    margin: 0 auto;
}


.top-function:focus{
    border-style: none !important;
    width: 10px;
}
.curved-arrow{
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-top:
    9px solid transparent;
    border-right: 9px solid #ffffff;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}
.curved-arrow:after{
    content: "";
    position:
    absolute;
    border: 0
    solid transparent;
    border-top: 3px solid #ffffff;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    -webkit-transform:
    rotate(45deg);
    -moz-transform:
    rotate(45deg);
    -ms-transform:
    rotate(45deg);
    -o-transform: rotate(45deg);
}
.dropdown-menu{
    background: maroon !important;
}
a{
    font-weight: bold !important;
    color: #ffffff !important;
    background: maroon !important;
}
.agree {
    list-style-type: none;
    display: inline-block;
}
.agreed {
    float: right;
}

.user {
    margin: 0 0 0 0;
    z-index: 2;
}
.userEmail {
    color: white;
    margin-top: 11%;
}
.contents{
    background: rgba(255, 93, 86, 0.95);
    border: 3px solid maroon;
    border-radius: 20px !important;
}
.center{
    margin: 0 auto !important;
}
.address{
    margin-bottom: 5%;
}
.link-to-developer{
    background: maroon !important;
}
.item-menu{
    height: 220px !important;
    width: 250px !important;
}
.carousel .item {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next {
    left:0;
    opacity:1;
    z-index:1;
}
.picture-holder{
    border: 3px solid maroon;
    border-radius: 20px;
    background: rgba(255, 93, 86, 0.95)!important;
    padding: 20px;
}
.picture-baker{
    width: 100%;
    height: 410px !important;
    border-radius: 20px;
}
.blue{
    color: darkblue !important;
}
.red{
    color: red !important;
}
#notification{
    overflow: scroll !important;
    padding-top: 110px !important;
}
.modal-header{
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
}
.modal-content{
    border-radius: 20px !important;
}
.modal-body{
    padding: 20px !important;
}
.button{
    background-color: green!important;
}
.text{
    padding-top: 23px;
}
.main-title{
    font-size: 50px;
    padding-left: 10px;

}
.logos{
    width: 100%;
    height: 150px !important;
}
.logos-holder{
    border-radius: 20px !important;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff !important;
    border: 3px solid maroon;
}
.main-logo-index{
    width: 100%;
}
.Left{
    padding-left: 15%;
}
.font{
    margin: -90px 0 0 30px;
}