.users{
    background: rgba(255, 93, 86, 0.95);
    border: 3px solid maroon;
    border-radius: 20px !important;
    margin-top: 0;
}
.form{
    width: 50%;
    margin: 110px auto 0 auto;
    padding: 30px;
    border-radius: 20px;
    background:maroon;
}
.circle{
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
}
.user-icon{
    background: maroon;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    margin: 40px auto;
    z-index: 2;
}
.user-icon:before, .user-icon:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: maroon;
    z-index: 2;

}
.user-icon:before{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.user-icon:after{
    -webkit-transform:
    rotate(60deg);
    -moz-transform:
    rotate(60deg);
    -ms-transform:
    rotate(60deg);
    -o-transform: rotate(60deg);
}

.user-icon-backdrop{
    background: rgba(255, 93, 86, 0.95);
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    margin: -130px auto;
}
.user-icon-backdrop:before, .user-icon-backdrop:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: rgba(255, 93, 86, 0.95);
}
.user-icon-backdrop:before{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.user-icon-backdrop:after{
    -webkit-transform:
    rotate(60deg);
    -moz-transform:
    rotate(60deg);
    -ms-transform:
    rotate(60deg);
    -o-transform: rotate(60deg);
}
td{
    padding-bottom: 5px !important;
}
td:last-child{
    width: 500px !important;
}
.user .form-control:focus{
    border-color: rgba(255, 93, 86, 0.95);
    -webkit-box-shadow: inset 3px 3px 3px rgba(255, 93, 86, 0.95), 0 0 3px rgba(255, 93, 86, 0.95);
    box-shadow: inset 3px 3px 3px rgba(255, 93, 86, 0.95), 0 0 3px rgba(255, 93, 86, 0.95);
}
.profile{
    margin: 15px 0 0 230px;
}
hr{
    width: 70%;
    margin: 2% auto!important;
}
.z-index{
    z-index: 3;
    margin: auto auto auto auto !important;
}