<div class="container-pixed">
  <div class="container users">
    <h3 class="title white text-center">Log In</h3>
    <hr/>
    <div class="user-icon"><span class="fa fa-5x fa-lock z-index white"></span></div>
    <div class="user-icon-backdrop"></div>
    <div class="form input-group-lg">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :Email_Address , class: 'white'%><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control text-center', placeholder: 'Email Address' %>
      </div>
      <div class="field">
        <%= f.label :Password , class: 'white'%><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control text-center', placeholder: 'Password' %>
      </div>
      <br/>
      <% if devise_mapping.rememberable? -%>
          <div class="field">

            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,class: 'white' %>
          </div>
      <% end -%>
      <%= render "devise/shared/links" %>
      <br/>
      <br/>
      <%= f.submit "Log in", class: 'btn btn-success btn-block pull-right title' %>
      <% end %>
      <%= link_to "Admin Sign_up", new_admin_registration_path %>
      <br/>
      <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>

