<div class="container contents">
  <h3 class="white title text-center">Visit our Branches</h3>
  <hr/>
  <div class="row rows">
    <div class="col-md-6">
      <div class="article-holder address">
        <h3 class="white article">Eighty-eight Bakeshop Zone 1 Barbo Dulag,Leyte Philippines</h3>
      </div>
      <div class="article-holder address">
        <h3 class="white article">Eighty-eight Bakeshop District 4, Lusad Burauen,Leyte Philippines</h3>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/assets/map2.png" alt="" class="img-thumbnail imgMap image img-responsive"/>
    </div>
  </div>
  <h3 class="white title text-center">Contact Us</h3>
  <hr/>
  <div class="row rows">
    <div class="col-md-6">
      <h5 class="white title text-center">Social Media Accounts</h5>
      <span class="fa-stack fa-4x">
        <span class="fa fa-square blue fa-stack-2x"></span>
        <span class="fa fa-facebook white fa-stack-1x"></span>
      </span>
      <br/>
      <span class="fa-stack fa-4x">
        <span class="fa fa-square blue fa-stack-2x"></span>
        <span class="fa fa-twitter white fa-stack-1x"></span>
      </span>
      <br/>
      <span class="fa-stack fa-4x">
        <span class="fa fa-square blue fa-stack-2x"></span>
        <span class="fa fa-envelope white fa-stack-1x"></span>
      </span>
    </div>
    <div class="col-md-6">
      <h5 class="white title text-center">Call & Text Hot Line Numbers</h5>
       <span class="fa-stack fa-4x">
        <span class="fa fa-square red fa-stack-2x"></span>
        <span class="fa fa-phone white fa-stack-1x"></span>
      </span>
      <br/>
      <span class="fa-stack fa-4x">
        <span class="fa fa-square red fa-stack-2x"></span>
        <span class="fa fa-comments white fa-stack-1x"></span>
      </span>
    </div>
  </div>
</div>