<div class="container-pixed">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/assets/menus/pandesal.png" alt="pandesal" class="items"/>
              <div class="carousel-caption">
                <p class="pan">Hot Pandesal</p>
                <p class="price">Php 2.00</p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/menus/star_monay.png" alt="star_monay" class="items"/>
              <div class="carousel-caption">
                <p class="pan">Star Monay</p>
                <p class="price">Php 2.00</p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/menus/ube_roll.png" alt="ube_roll" class="items"/>
              <div class="carousel-caption">
                <p class="pan">Ube Roll with Cheese</p>
                <p class="price">Php 5.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="picture-holder">
          <div class="row">
            <div class="col-md-12"><img src="/assets/ftjfty.png" alt="logo" class="main-logo-index"/></div>
            <h1 class="white main-title">Mapapa otso-otso ka sa sarap <span class="fa fa-smile-o"></span></h1>
            <br/>
            <% if signed_in? %>
                <br/>
                <br/>
                <br/>
                <br/>
            <% else %>
                <%=link_to new_user_registration_path do %>
                    <button class="btn btn-info btn-block white title"><span class="fa fa-pencil"></span> Free Registration</button>
                <% end %>
                <%=link_to new_user_session_path do %>
                    <button class="btn btn-block btn-success white title"><span class="fa fa-sign-in"></span> Log In</button>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
