<%= form_for([@post_attachment, @post_attachment.products.build]) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :cost %><br>
      <%= f.text_field :cost %>
    </div>
    <div class="field">
      <%= f.label :stock %><br>
      <%= f.text_field :stock %>
    </div>
    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
<% end %>