
    <p>
      <strong>Product name:</strong>
      <%= product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= product.cost %>
    </p>

    <p>
      <strong>Stock:</strong>
      <%= product.stock %>
    </p>
